body { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'weddingFont';
  src: url('../fonts/karina_aime_les_chocolats.ttf');
}

@font-face {
  font-family: 'weddingFont';
  src: url('../fonts/karina_aime_les_chocolats.ttf');
  font-weight: bold;
}

.weddingFont {
  color: aliceblue;
  font-family: 'weddingFont';
}