<!doctype html>
<html>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <head>
    <title>Romesh & Charmikha</title>
  </head>
  <body ng-app="myApp" layout="column" flex>
      <div id="main" flex="20" ng-controller="mainMenuController" layout="column">
          <div>
            <md-toolbar style="background-color: #0277BD">
              <div layout="row" layout-align="center start">
                <md-button class="md-grid-item-content" ng-click="homeClick()">
                  <md-icon>home</md-icon>
                  <div class="md-grid-text">Home</div>
                </md-button>

                <md-button class="md-grid-item-content" ng-click="rsvpClick()">
                  <md-icon>input</md-icon>
                  <div class="md-grid-text">RSVP</div>
                </md-button>

                <md-button class="md-grid-item-content" >
                  <md-icon>info</md-icon>
                   <div class="md-grid-text">Info</div>
                </md-button>
              </div>
              <!--<div layout="row" layout-align="center start" class="weddingFont">
                <h1>Romesh & Charmikha</h1>
              </div>-->
            </md-toolbar>
          </div>
      </div>

      <div ng-controller="mainMenuController" flex="40" layout="column"layout-align="center" ng-view class="fade"/>
  </body>
  <!-- Define scripts with dependencies first -->
  <script src="js/viewController.js"></script>
  <script src="js/mainMenuController.js"></script>
  <script src="js/homeController.js"></script>
  <script src="js/searchController.js"></script>
  <script src="js/registerController.js"></script>
  <script src="js/thankYouController.js"></script>
  <!--<script src="js/romcharm.js"></script>-->
</html>